:root{
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #767676;
  --darkgray: #767676;
}

.loading{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.loading img{
  width: 100px;
  height: 100px;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  overflow: auto;
}
.title img{
  width: 60px;
  color: white;
}
.title{
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top:40px;
}
.title h1{
  font-size: 30px;
}
.title .social{
  margin-top: 10px;;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.title a{
  text-decoration: none;
  color: white;
}
.title .social a{
  transition: all 0.3s;
}
.title .social a:hover{
  transform: scale(1.1);
}
.title *{
  margin: 0px;
}

.contain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  margin-bottom: 50px;;
}

.contain .search{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  padding: 0 30px;
  gap: 20px;
}
.contain .search .subscribe{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
select option{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 410px;
  max-width: 90%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #5f5f5f;
  transition: .25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #b5b5b5;
}

.contain .search input{
  width: 700px;
  max-width: 90%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #8a8a8a;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.4s;
}
.contain .search input:hover{
  scale: 1.02;
}
.contain .search input::placeholder{
  color: #8a8a8a;
}
.contain .search button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #767676;
  color: rgb(230, 230, 230);
  padding: 15px 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
.contain .search button:hover{
  scale: 1.05;
}

.contain .alerts{
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}
.contain .alerts .card_alert{
  width: calc(950px - 50px);
  max-width: 80%;
  background-color: #2C2C2E;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}
.contain .alerts .card_alert .content{
  padding-top: 10px;
  padding: 20px 30px;
}
.contain .alerts .card_alert .content .row{
  padding: 15px 0;
  border-top: 2px solid #8a8a8a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.contain .alerts .card_alert .content .row span{
  font-style: italic;
}
.contain .alerts .card_alert .content .row  b span {
  font-weight: normal;
}
.contain .alerts .card_alert .content .row  p {
  color: rgba(235,235,245,0.6);
}

.contain .alerts .card_alert .header{
  padding: 20px 30px;
  cursor: pointer;
}
img{
  width: 250px;
}